@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  z-index: 2;
}

.header__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

header__box--title {
  text-transform: uppercase;
  margin-top: 5px;
}

nav {
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 30px 0px;
}

.header__list--item {
  list-style: none;
}

.list__item--link {
  list-style: none;
  text-decoration: none;
  color: #c1bfb5;
  padding: 0px 20px;
}

.painted {
  color: #dd1a22;
  font-weight: bold;
}

.box-image {
  height: 80%;
  width: 100%;
}

.image {
  width: 100%;
  height: 50%;
  margin-top: -120px;
  object-fit: cover;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.textos {
  width: 60%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description {
  margin: 10px 0;
}

.description span {
  font-weight: bold;
}

.img-listas {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ilustra {
  width: 30%;
  object-fit: cover;
}

.lista-ilustra,
.lista-ilustra ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.lista-ilustra ol li {
  margin: 10px 0;
  padding: 8px 0px;
}

.lista-ilustra ol li span {
  font-weight: bold;
  color: orange;
}

footer {
  width: 100%;
  background-color: #ced4da;
  margin-top: 30px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer p {
  margin: 0.25% 0;
}

/* About */
.about__main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.about {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 25px;
}

.card__group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 19%;
  border-radius: 8px;
  background-color: #e5e5e5;
  background-image: linear-gradient(to top, transparent, gray);
  transition-duration: .9s;
  margin: 10px 20px 0px;
}

.card__header {
  width: 100%;
  height: 100px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid gray;
}

.card__header img {
  object-fit: cover;
  height: 17vh;
  width: inherit;
  border-radius: 8px 8px 0px 0px;
}

.card__body {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}

.card__body p {
  font-size: 0.75em;
  text-align: center;
  line-height: 18px;
  justify-content: center;
  align-items: center;
}

.card__body cite {
  font-weight: bold;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 4px violet;
  transition-duration: .8s;
  margin: 20px 40px;
}

.jane {
  margin: 20px 0;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jane img {
  width: 41%;
  object-fit: cover;
}

/* musica */
.music{
   background-color: #f8f9fa;
}
.music__main {
 
  width: 100%;
  margin-top: 117px;
  display: flex;

}

.music__main h2 {
  width: 80%;
  margin: 15px 0 70px 0;
  text-align: center;
}

.box__music {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* background-color: #495057; */
  border-radius: 5%;
  /* margin-bottom: 15px; */
}

.video {
width: 50%;
display: flex;
flex-direction: column;
margin-left: 40px;

}

.video iframe {
  margin: 25px 5px;
}

.listas {
display: flex;
/* justify-content: space-around; */
flex-direction: column;
align-items: center;
width: 50%;
margin-left: 16%;
margin-bottom: 15%;

}

.listas ul {
display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: space-between;
}

.listas ul span {
margin: 20px 6px;
display: flex;
align-items: center;
/* margin: 20px 6px; */
/* padding: 20px; */

}

.listas ul span li {
  list-style: none;
  margin-left: 8px;
  font-weight: bold;
}

.listas__box{
      margin-bottom: 12vh;
}
.lista__paragraph{
  line-height: 2.5em;
}

/* Contact */
.main__contact{
  margin-top: 10%;
  display: flex;
}
.main__contact h2{
  margin-bottom: 1.5%;
}
.contact__first{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.forms{
  display: flex;
}
.forms__tag{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2vw;
  padding-top: 20%;
}
.form__group{
     display: flex;
     flex-direction: column;
     width: 80%;
     margin-bottom: 3%;
}
.form__group label{
  width: 100%;
  margin-bottom: 2%;
  
}
.form__group input{
  border-bottom: .8px solid #6C757D;
  border-top:none;
  border-right: none;
  border-left: none;
  padding: 0 1%;
}
.form__group textarea{
  padding: 1% 0 0 1.5%;
}
.radio{
  display: flex;
}
.radio h3{
      margin-bottom: 4%;
      font-size: 16px;
      font-weight: bold;
}

.form__group input:focus{
   box-shadow: 0 0 0 0;
  border-bottom: .8px solid #6C757D;
  border-top:none;
  border-right: none;
  border-left: none;
   outline: 0;
}
.form__group textarea:focus{
   box-shadow: 0 0 0 0;
   /* border: 0 none; */
   outline: 0;
}
.button{
  width: 80%;
  
}
.form__btn{
background-color: #52B788;
font-size: 16px;
font-weight: bold;
color: #fff;
border-radius: 15px;
padding: 5px;
border: none;
margin-top: 3%;
transition: 1.2s;
}
.form__btn:hover{
  transition: .9s;
  opacity: .75;
  color:#2D6A4F;
}
.contact__secundary{
width: 100%;
display: flex;
justify-content: center;
}
.datas{
  display: flex;
  flex-direction: column;
}
.datas h2{
  margin: 3% 0;
  text-align: center;
  /* text-decoration: underline #495057; */
  border-bottom: 1px solid #495057;
}
.data__individual{
  background-color: #c6dabf;
  width: 30vw;
  margin: 4% 0;
  border-radius: 15px;
}
.data__individual h3{
      text-align: center;
      /* margin-bottom: 2%; */
      margin: 2% 0;
}

.data__individual p{
 text-align: center;
 margin-bottom: 3%;
}

